.footer-logos-wraper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
}