.main-navigation {
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.main-navigation__list {
  .list-reset();
}

.main-navigation__toggle {
  @media (min-width: @tablet-width) {
    display: none;
  }
}