.main-footer {
  background-color: #F2F2F2;
}

.main-footer__htmlacademy-link {
  font-family: "Lato", sans-serif;
  text-decoration: none;
  color: @basic-grey;
  font-size: 16px;
  line-height: 19px;
}